body {
    background-color: #181e13;
    margin: 0px;
}
p {
    font-size: 15px;
    margin: 0px;
    font-family: "Aldrich", sans-serif;
    color: white;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #77c345;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
} a:hover{
    color: #92e12b;
}
h1 {
    margin: 0px;
    font-family: "Aldrich", sans-serif;
    font-size: 64px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2 {
    margin: 0px;
    font-family: "Aldrich", sans-serif;
    font-size: 48px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3 {
    margin: 0px;
    font-family: "Aldrich", sans-serif;
    font-size: 32px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
    font-size: 16px;
    margin: 0px;
    font-family: "Aldrich", sans-serif;
}
div {
    margin
}
header {
    min-height: 40px;
    height: 40px;
    background: #0c0c0c;
    border-bottom: 2px solid #77ca25;
}
#wrapper {
    min-width:640px;
}
#headerinfo {
    color: white;
    width: 730px;
    margin-left: auto;
    margin-right: auto;
}
#headerinfo a {
    color:white;
    font-size: 24px;
    padding-top: 2px;
    padding-left: 10px;
    text-transform: uppercase;
}
#headerinfo a:hover {
    color: #92e12b;
    letter-spacing: 2px;
}
#titlediv {
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
    width: 100%;
    min-height: 310px;
    height: 310px;
    background: url(/images/stripe.png);
    background-size: 4px auto;
    color: white;
    z-index: -2;
    overflow: hidden;
}
#titlediv h2 {
    position: absolute;
    margin-top: 105px;
    height: 70px;
    line-height: 70px;
    width: 100%;
    background: #0c0c0c;
    font-style: oblique;
    text-align: center;
}
#titlediv p {
    position: absolute;
    margin-top: 155px;
    line-height: 40px;
    width: 100%;
    background: #0c0c0c;
    font-style: oblique;
    text-align: center;
}
#titlediv img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
#navcontainer {
    margin-top: 1px;
    background: #0c0c0c;
    border-top: 1px solid #92e12b;
    border-bottom: 1px solid #393f2f;
}
#navmenu {
    padding: 2px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    -webkit-justify-content: center;
    -moz-flex-flow: row;
    -moz-justify-content: center;
    flex-flow: row;
    justify-content: center;
}
#navmenu a {
    color: white;
    background-color: #151515;
    border-radius: 4px;
    font-family: "Aldrich", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 2px 2px;
    justify-content:center;
    padding: 9px 18px 9px;
    border-top: 1px solid #24271d;
    -webkit-flex: 0 1 0%;
    flex: 0 1 20%;
    transition-property: color, letter-spacing, background-color, text-shadow, border-top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
#navmenu a:hover {
    color: #92e12b;
    letter-spacing: 2px;
    background-color: #282828;
    text-shadow: 0px 0px 8px #000000;
    border-top: 1px solid #404739;
}
#navmenu #tsbutton {
    min-width:320px;
    -webkit-order: 1;
    order: 1;
}
#navmenu #serverbutton {
    min-width:140px;
    max-width:140px;
    -webkit-order: 0;
    order: 0;
}
#navmenu #aboutbutton {
    min-width:140px;
    max-width:140px;
    -webkit-order: 2;
    order: 2;
}
#viewercontainer {
    width: 360px;
}
.contentdiv {
    color:white;
}
.contentdiv > h3{
    border-top: 1px solid #415724;
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #121212;
    font-style: oblique;
    text-align: center;
    text-transform:uppercase;
}
.contentzone{
    max-width:760px;
    margin-left: auto;
    margin-right: auto;
    background:#0c0c0c;
}
.contentzone p{
    padding:24px 16px;
    text-align:justify;
}
.divider {
    width: 100%;
    min-height: 16px;
    height: 16px;
    background: #0c0c0c;
    color: white;
}
footer {
    background:#0a0a0a;
    height:86px;
}
.striped {
    background:url(/images/stripe2.png);
    background-size: 8px auto;
}
#footercontainer {
    min-height: 22px;
    height: 22px;
    background: #121212;
    border-top: 1px solid #385510;
    border-bottom: 1px solid #393f2f;
    text-align: center;
    padding: 8px;
}
#footercontainer a {
    color: #bebebe;
    font-family: "Aldrich", sans-serif;
    font-weight: normal;
    font-size: 16px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#footercontainer a:hover {
    color: #95f92b;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shadowed{
    -webkit-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, .75);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, .75);
}
.innershadowed {
    -webkit-box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 1);
}
@media all and (max-width: 740px) {
    #navmenu {
        -webkit-flex-flow: column;
        flex-flow: column;
        flex-direction: column;
        -webkit-justify-content: none;
        -moz-justify-content: none;
        justify-content: none;
    }
    #headerinfo{
        margin-left: 0;
        width:0;
    }
    #navmenu #serverbutton,
    #navmenu #aboutbutton {
        max-width:1000px;
        -webkit-order: 1;
        order: 1;
    }
    #tsbutton {
        -webkit-order: 0;
        order: 0;
    }
}
