body {
	background-color: #181e13;
	color: #d0d0d0;
	margin: 0px;
	overflow-y: auto;
}

p {
	font-size: 15px;
	margin: 0px;
	font-family: "Aldrich", sans-serif;
	color: #d0d0d0;
	font-weight: normal;
	line-height: 135%;
}

a {
	font-family: "Aldrich", sans-serif;
	text-decoration: none;
	color: #77c345;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

a:hover {
	color: #a9fe30;
}

h1 {
	margin: 0px;
	font-family: "Aldrich", sans-serif;
	font-size: 64px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	margin: 0px;
	font-family: "Aldrich", sans-serif;
	font-size: 48px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3 {
	margin: 0px;
	font-family: "Aldrich", sans-serif;
	font-size: 32px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h4 {
	margin: 0px;
	font-family: "Aldrich", sans-serif;
	font-size: 24px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h5 {
	margin: 0px;
	font-family: "Aldrich", sans-serif;
	font-size: 18px;
	font-family: "Aldrich", sans-serif;
	font-weight: normal;
	line-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	font-size: 15px;
	margin: 0px;
	font-family: "Aldrich", sans-serif;
	color: #d0d0d0;
	font-weight: normal;
	line-height: 135%;
}

header {
	min-height: 40px;
	height: 40px;
	background: #0c0c0c;
	border-bottom: 2px solid #77ca25;
}

footer {

	background: #0a0a0a;
	height: 86px;
}

form {
	margin: auto auto;
	position: relative;
	font-family: "Aldrich", sans-serif;
	text-decoration: none;
	color: #77c345;
	text-align: center;
	padding: 10px;
}

input {
	font-family: "Aldrich", sans-serif;
	text-decoration: none;
	padding: 4px;
	margin: 8px auto;
	width: 375px;
	display: block;
	border: 1px solid #393f2f;
	border-radius: 4px;
	height: 25px;
	background: #0a0a0a;
	color: #d0d0d0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}

input:focus {
	outline: 0px;
	border: 1px solid #507719;
}

label {
	color: #d0d0d0;
	font-size: 18px;
}

#wrapper {
	min-width: 640px;
}

#headerinfo {
	color: white;
	width: 760px;
	margin: auto auto;
}

#headerinfo a {
	color: white;
	line-height: 42px;
	font-size: 24px;
	padding-left: 10px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: bottom;
}

#headerinfo a:hover {
	color: #a9fe30;
	letter-spacing: 2px;
}

#titlediv {
	margin-top: 1px;
	margin-bottom: 1px;
	position: relative;
	width: 100%;
	min-height: 310px;
	height: 310px;
	background: url(/img/stripe.png);
	background-size: 4px auto;
	color: white;
	overflow: hidden;
}

#titlediv h2 {
	position: absolute;
	margin-top: 105px;
	height: 70px;
	line-height: 70px;
	width: 100%;
	background: #0c0c0c;
	font-style: oblique;
	text-align: center;
}

#titlediv p {
	position: absolute;
	margin-top: 155px;
	line-height: 40px;
	width: 100%;
	background: #0c0c0c;
	font-style: oblique;
	text-align: center;
}

#titlediv img {
	position: absolute;
	bottom: -100px;
	left: 0px;
	right: 0px;
	margin: auto;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}

#navcontainer {
	margin-top: 1px;
	background: #0c0c0c;
	border-top: 1px solid #a9fe30;
	border-bottom: 1px solid #252525;
}

#navmenu {
	padding: 2px 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	-webkit-justify-content: center;
	-moz-flex-flow: row;
	-moz-justify-content: center;
	flex-flow: row;
	justify-content: center;
}

#navmenu a {
	line-height: 40px;
	color: white;
	background: #151515;
	border-radius: 4px;
	font-family: "Aldrich", sans-serif;
	font-size: 17px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin: 2px 2px;
	justify-content: center;
	border-top: 1px solid #24271d;
	-webkit-flex: 0 1 0%;
	flex: 0 1 20%;
	transition-property: color, background, text-shadow, border-top, min-width, min-height, max-width, max-height, padding;
}

#navmenu a:hover {
	color: #a9fe30;
	background: #202616;
	background: -moz-linear-gradient(top, #202616 1%, #151515 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #202616), color-stop(100%, #151515));
	background: -webkit-linear-gradient(top, #202616 1%, #151515 100%);
	background: -o-linear-gradient(top, #202616 1%, #151515 100%);
	background: -ms-linear-gradient(top, #202616 1%, #151515 100%);
	background: linear-gradient(to bottom, #202616 1%, #151515 100%);
	border-top: 1px solid #506739;
	text-shadow: 0px 0px 48px rgba(190, 255, 150, 1);
}

#navmenu #tsbutton {
	min-width: 320px;
	max-width: 320px;
	-webkit-order: 1;
	order: 1;
}

#navmenu #serverbutton {
	min-width: 162px;
	max-width: 162px;
	-webkit-order: 0;
	order: 0;
}

#navmenu #aboutbutton {
	min-width: 162px;
	max-width: 162px;
	-webkit-order: 2;
	order: 2;
}

#viewercontainer {
	margin: 0px auto;
	padding: 16px;
	width: 340px;
	height: 640px;
	overflow: hidden;
	position: relative;
}

#viewercontent {
	position: absolute;
	left: 16px;
	top: 64px;
	right: -32px;
	bottom: 0;
	padding-right: 15px;
	overflow-y: scroll;
}

#viewercontainer > h3 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 8px;
}

#twitterhivecom {
	padding: 16px;
	display: inline-block;
}

#twitterhivecom > h3 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 8px;
}

#twitterteam {
	margin: 16px 16px;
	padding: 16px;
	text-align: center;
}

#twitterteam > h3 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 8px;
}

.button {
	display: inline-block;
	color: white;
	background: #151515;
	border-radius: 4px;
	font-family: "Aldrich", sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin-bottom: 16px;
	padding: 9px 9px 9px;
	border-top: 1px solid #24271d;
	margin-left: auto;
	margin-right: auto;
	transition-property: color, background, text-shadow, border-top;
}

.centered {
	text-align: center !important;
}

.button:hover {
	color: #a9fe30;
	background: #202616;
	background: -moz-linear-gradient(top, #202616 1%, #151515 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #202616), color-stop(100%, #151515));
	background: -webkit-linear-gradient(top, #202616 1%, #151515 100%);
	background: -o-linear-gradient(top, #202616 1%, #151515 100%);
	background: -ms-linear-gradient(top, #202616 1%, #151515 100%);
	background: linear-gradient(to bottom, #202616 1%, #151515 100%);
	border-top: 1px solid #506739;
	text-shadow: 0px 0px 48px rgba(190, 255, 150, 1);
}

.widgetcontainer {
	margin-bottom: 32px;
	min-width: 640px;
	text-align: center;
}

.widgetcontainer > #viewercontainer {
	float: left;
	display: inline-block;
}

.widgetcontainer > #viewercontainer > h3 {
	text-align: left;
	white-space: nowrap;
}

.horizontal-line {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	height: 1px;
	background: #353535;
}

.vertical-line {
	display: inline-block;
	margin: 16px;
	height: 620px;
	width: 1px;
	background: #353535;
}

.contentdiv {
	color: white;
}

.contentdiv > h3 {
	border-top: 1px solid #486d13;
	border-bottom: 1px solid #252525;
	position: relative;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: #121212;
	font-style: oblique;
	text-align: center;
	text-transform: uppercase;
}

.contentzone {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
	background: #0c0c0c;
}

.contentzone p {
	padding: 16px 16px;
	text-align: justify;
}

.contentzone h3 {
	padding: 16px 16px;
}

.namelist {
	margin: 16px 0px;
	list-style-type: none;
	text-align: center;
}

.namelist > h3 {
	font-size: 24px;
	margin-bottom: 8px;
	text-align: center;
}

.namelist > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.namelist > ul li {
	font-size: 16px;
	font-weight: normal;
	line-height: 32px;
	display: inline;
}

.divider {
	width: 100%;
	min-height: 8px;
	height: 8px;
	background: #090909;
	color: white;
}

.striped {
	background: url(/img/stripe2.png);
	background-size: 8px auto;
}

.gradient {
	background: #0b0b0b;
	background: -moz-linear-gradient(left, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
	background: -webkit-gradient(linear, left top, right top, color-stop(10%, #0b0b0b), color-stop(50%, #181e13), color-stop(90%, #0b0b0b));
	background: -webkit-linear-gradient(left, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
	background: -o-linear-gradient(left, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
	background: -ms-linear-gradient(left, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
	background: linear-gradient(to right, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
}

.centerinfo {
	font-size: 19px;
	text-align: center;
	padding-bottom: 16px;
	padding-top: 8px;
	clear: right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.jsenabled {
	display: none;
}

.darkbody {
	background: #0a0a0a;
}

#footercontainer {
	height: 38px;
	background: #121212;
	border-top: 1px solid #385510;
	border-bottom: 1px solid #252525;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	padding: 8px;
}

.notice > p {
	font-size: 14px;
	text-align: center;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.shadowed {
	-webkit-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, .75);
	box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, .75);
}

.innershadowed {
	-webkit-box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 1);
}

.avatar {
	margin-top: 25px;
	font-size: 21px;
	text-align: center;
	opacity: 0;
	max-width: 216px;
	float: right;
	margin-right: 16px;
	margin-top: 16px;
	outline: #555555 solid 1px;
	-webkit-animation: avatarin 1s;
	-moz-animation: avatarin 1s;
	-ms-animation: avatarin 1s;
	-o-animation: avatarin 1s;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	-o-animation-delay: 3s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
}

.profilecontainer {
	width: 210px;
	height: 260px;
	max-width: 210px;
	max-height: 260px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
}

.profilecontainer h3 {
	font-size: 20px;
}

.profileimage {
	vertical-align: middle;
	border-radius: 100%;
	width: 160px;
	border: rgba(255, 255, 255, 0) solid 4px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 1);
}

.profileimage:hover {
	width: 192px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(190, 255, 150, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(190, 255, 150, 1);
	box-shadow: 0px 0px 4px 0px rgba(190, 255, 150, 1);
}

.columnlist {
	list-style: none;
}

.listhead li {
	padding-top: 16px;
	padding-bottom: 8px;
	text-decoration: underline;
}

.columnlist li {
	display: block;
	width: 22%;
	margin-right: 3%;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.listclear {
	clear: both;
	padding: 8px;
}

.meter {
	height: 16px;
	margin: 16px 16px;
	position: relative;
	background: #0a0a0a;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	padding: 4px;
	border: 1px solid #182306;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.meter > span {
	display: block;
	height: 100%;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	background-color: #77c345;
	box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
	-o-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
	position: relative;
	overflow: hidden;
}

.meter > span:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(0, 0, 0, .3) 8px, rgba(0, 0, 0, .3) 16px);
	z-index: 1;
	overflow: hidden;
}

@keyframes avatarin {
	from {
		opacity: 0.0;
	}

	to {
		opacity: 1.0;
	}

}

@-moz-keyframes avatarin {
	from {
		opacity: 0.0;
	}

	to {
		opacity: 1.0;
	}

}

@-webkit-keyframes avatarin {
	from {
		opacity: 0.0;
	}

	to {
		opacity: 1.0;
	}

}

@-ms-keyframes avatarin {
	from {
		opacity: 0.0;
	}

	to {
		opacity: 1.0;
	}

}

@-o-keyframes avatarin {
	from {
		opacity: 0.0;
	}

	to {
		opacity: 1.0;
	}

}

@media all and (max-width: 760px) {
	#viewercontainer, #twitterhivecom {
		width: 271px;
		text-align: center;
	}

	#navmenu {
		-webkit-flex-flow: column;
		flex-flow: column;
		flex-direction: column;
		-webkit-justify-content: none;
		-moz-justify-content: none;
		justify-content: none;
	}

	#navmenu a {
		padding: 20px 18px 20px;
		font-size: 20px;
		line-height: 0px;
	}

	#headerinfo {
		margin-left: 0;
		width: 0;
	}

	#navmenu #serverbutton, #navmenu #aboutbutton {
		max-width: 1000px;
		-webkit-order: 1;
		order: 1;
		margin-top: 2px;
	}

	#navmenu #tsbutton {
		max-width: 1000px;
		-webkit-order: 0;
		order: 0;
	}

	input {
		width: 435px;
		height: 35px;
		font-size: 18px;
	}

	label {
		font-size: 20px;
	}
}

@media all and (max-width: 640px) {
	#navmenu a {
		padding: 40px 18px 40px;
		font-size: 24px;
		line-height: 0px;
	}

	#navmenu #serverbutton, #navmenu #aboutbutton {
		max-width: 1000px;
		-webkit-order: 1;
		order: 1;
		margin-top: 8px;
	}

	input {
		width: 565px;
		height: 60px;
		font-size: 24px;
	}

	label {
		font-size: 26px;
	}

	.centerinfo {
		font-size: 24px;
	}
}

::-webkit-scrollbar {
	width: 8px;
	border-left: 1px #393f2f;
	background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
	background: #223612;
	-webkit-border-radius: 1ex;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb:hover {
	background: #77ca25;
}

::-webkit-scrollbar-corner {
	background: #000;
}

#viewercontent::-webkit-scrollbar {
	width: 16px;
}
