body {
    background-color: #1e1313;
}

p {
    color: #d0d0d0;
}

a {
    color: #ff0000;
}

a:hover {
    color: #ff4a4a;
}

form {
    color: #ff0000;
}

header {
    border-bottom: 2px solid #b82f2f;
}

#mainbar a:hover {
    color: #ff4a4a;
}

#headline img {
    filter: blur(5px) hue-rotate(245deg);
    -webkit-filter: blur(5px) hue-rotate(245deg);
    -moz-filter: blur(5px) hue-rotate(245deg);
    -o-filter: blur(5px) hue-rotate(245deg);
    -ms-filter: blur(5px) hue-rotate(245deg);
}

#navcontainer {
    border-top: 1px solid #b82f2f;
}

#navbar a {
    border-top: 1px solid #271d1d;
}

#navmenu a:hover {
    color: #ff4a4a;
    background: #251515;
    background: -moz-linear-gradient(top, #251515 1%, #151515 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #251515), color-stop(100%, #151515));
    background: -webkit-linear-gradient(top, #251515 1%, #151515 100%);
    background: -o-linear-gradient(top, #251515 1%, #151515 100%);
    background: -ms-linear-gradient(top, #251515 1%, #151515 100%);
    background: linear-gradient(to bottom, #251515 1%, #151515 100%);
    border-top: 1px solid #663939;
    text-shadow: 0px 0px 48px #ff4a4a;
}

.contentheader {
    border-top: 1px solid #6d1212;
}

.contentspacer {
    border-top: 1px solid #6d1212;
}

button {
    border: 1px solid #530f0f;
}

button:focus {
    color: #b82f2f;
    border: 1px solid #6d1212;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(255, 50, 20, 0.1);
    -moz-box-shadow: 0px 0px 32px 0px rgba(255, 50, 20, 0.1);
    box-shadow: 0px 0px 32px 0px rgba(255, 50, 20, 0.1)
}

.striped {
    background: url(/img/stripe3.png);
}

.gradient {
    background: -moz-linear-gradient(left, #0b0b0b 10%, #1e1313 50%, #0b0b0b 90%);
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #0b0b0b), color-stop(50%, #1e1313), color-stop(90%, #0b0b0b));
    background: -webkit-linear-gradient(left, #0b0b0b 10%, #1e1313 50%, #0b0b0b 90%);
    background: -o-linear-gradient(left, #0b0b0b 10%, #1e1313 50%, #0b0b0b 90%);
    background: -ms-linear-gradient(left, #0b0b0b 10%, #1e1313 50%, #0b0b0b 90%);
    background: linear-gradient(to right, #0b0b0b 10%, #1e1313 50%, #0b0b0b 90%);
}

#footercontainer {
    border-top: 1px solid #530f0f;
}

.cardimage:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 50, 20, 0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 50, 20, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 50, 20, 0.5);
}

.meter {
    border: 1px solid #660606;
}

.meter>span {
    background-color: #880000;
}

.glow {
    background: #ff3333 !important;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(255, 50, 20, 1.0);
    -moz-box-shadow: 0px 0px 32px 0px rgba(255, 50, 20, 1.0);
    box-shadow: 0px 0px 32px 0px rgba(255, 50, 20, 1.0);
}

::-webkit-scrollbar-thumb {
    background: #550505;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: #ff4a4a;
}

input {
    border: 1px solid #441616;
}

input:focus {
    border: 1px solid #ff4a4a;
}
