/*
	Hivecom main stylesheet. Contains everything used by the main website.
	- This file's contents are sorted by their appearance on the main page.
	- Helper classes are placed after the core definitions.
	- Any other clases defined in sub pages are defined towards the end.

	Page sizes:
	- Main layout 	900px
	- Fold size		760px
	- Two split		420px
	- Four split	180px
 */


/* Base layout classes. */

body {
    background-color: #0c0c0c;
    color: #d0d0d0;
    margin: 0px;
    overflow-y: auto;
    font-family: "Aldrich", sans-serif;
    font-weight: normal;
    -webkit-text-size-adjust: 120%;
}

p {
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: normal;
    text-decoration: none;
    color: #8ec767;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:hover {
    color: #a9fe30;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    line-height: 120%;
    margin: 0px;
    font-weight: normal;
}

p, h1, h2, h3, h4, h5, ul {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    font-size: 14px;
    margin: 0px;
    color: #d0d0d0;
    line-height: 160%;
}


/* Helper classes. */


/* Everything with this class is enabled by Javascript once the page is loaded. */

.jsenabled {
    display: none;
}


/* Overrides any alignment. Does not override floats. */

.centered {
    text-align: center !important;
}


/* Splitters for the main content section. */

.split {
    display: flex;
    padding: 16px;
}

.splitcontent {
    display: inline-block;
}

.splittwo {
    width: 420px;
}

.split h1, .split h2, .split h3, .split h4, .split h5 {
    text-align: center;
}


/* Disables selection of the assigned element. */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}


/* Disables on mobile view */

.nomobile {
    display: inherit;
}


/* Sets stripes as the background image. */

.striped {
    background: url(/img/stripe2.png);
    /*
	    background: url(/img/background.png);
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	*/
}

.darkstriped {
    background: url(/img/stripe4.png);
}


/* Applies a gradient to the element. Used for the content backgrounds. */

.gradient {
    background: #0b0b0b;
    background: -moz-linear-gradient(left, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #0b0b0b), color-stop(50%, #181e13), color-stop(90%, #0b0b0b));
    background: -webkit-linear-gradient(left, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
    background: -o-linear-gradient(left, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
    background: -ms-linear-gradient(left, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
    background: linear-gradient(to right, #0b0b0b 10%, #181e13 50%, #0b0b0b 90%);
}


/* Applies an outer shadow to the element. */

.shadowed {
    -webkit-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, .75);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, .75);
}


/* Applies an inner shadow to the element. */

.innershadowed {
    -webkit-box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 1);
}


/* Applies a glow to elements. */

.glow {
    background: #8ec767 !important;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(150, 255, 85, 1.0);
    -moz-box-shadow: 0px 0px 32px 0px rgba(150, 255, 85, 1.0);
    box-shadow: 0px 0px 32px 0px rgba(150, 255, 85, 1.0);
}

.glow-red {
    background: #ff3333 !important;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(255, 50, 20, 1.0);
    -moz-box-shadow: 0px 0px 32px 0px rgba(255, 50, 20, 1.0);
    box-shadow: 0px 0px 32px 0px rgba(255, 50, 20, 1.0);
}


/* Main page bar. */

#mainbar {
    color: white;
    max-width: 900px;
    margin: auto auto;
}

#mainbar a, #mainbar p, #mainbar span {
    color: white;
    line-height: 42px;
    font-size: 22px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: bottom;
}

#mainbar a:hover {
    color: #a9fe30;
    letter-spacing: 2px;
}

#mainbar div, #mainbar span {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    margin: auto auto;
}


/* Header bar container.. */

header {
    min-height: 40px;
    height: 40px;
    background: #0c0c0c;
    border-bottom: 2px solid #77ca25;
}


/* Apply background stripes to the headline container. */

#headline {
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
    width: 100%;
    min-height: 310px;
    height: 310px;
    background: url(/img/stripe.png);
    background-size: 4px auto;
    color: white;
    overflow: hidden;
}

#headline h2 {
    position: absolute;
    margin-top: 105px;
    height: 90px;
    line-height: 70px;
    width: 100%;
    background: #0c0c0c;
    text-align: center;
}

#headline p {
    position: absolute;
    margin-top: 155px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

#headline img {
    position: absolute;
    bottom: -100px;
    left: 0px;
    right: 0px;
    margin: auto;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}


/* Footer container. */

footer {
    background: #0a0a0a;
    height: 86px;
}

#footercontainer {
    color: #555555;
    background: #121212;
    border-top: 1px solid #385510;
    border-bottom: 1px solid #252525;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    padding: 8px;
}

#footercontainer img {
    width: 24px;
    margin: 8px 8px;
    filter: opacity(30%) grayscale(100%) invert(100%);
    border-radius: 4px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#footercontainer img:hover {
    width: 32px;
    margin: 4px 4px;
}


/* Forms and input styling for consistency across all pages. */

form {
    font-family: "Aldrich", sans-serif;
    font-size: 14px;
    margin: auto auto;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #77c345;
    text-align: center;
    padding: 10px 10px 0px 10px;
}

input {
    font-family: "Aldrich", sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 4px;
    margin: 8px auto;
    width: 375px;
    display: block;
    border: 1px solid #393f2f;
    border-radius: 4px;
    height: 32px;
    background: #0a0a0a;
    color: #d0d0d0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

input:focus {
    outline: 0px;
    border: 1px solid #507719;
}

label {
    color: #d0d0d0;
    font-size: 18px;
}

button {
    cursor: pointer;
    cursor: hand;
    font-family: "Aldrich", sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    padding: 10px;
    margin: 4px 4px;
    display: inline-block;
    border: 1px solid #393f2f;
    border-radius: 4px;
    background: #0a0a0a;
    color: #d0d0d0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

button:focus {
    outline: 0px;
    color: #77c345;
    border: 1px solid #507719;
    -webkit-transition: all .0s ease-out;
    -moz-transition: all .0s ease-out;
    -o-transition: all .0s ease-out;
    transition: all .0s ease-out;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(150, 255, 85, 0.1);
    -moz-box-shadow: 0px 0px 32px 0px rgba(150, 255, 85, 0.1);
    box-shadow: 0px 0px 32px 0px rgba(150, 255, 85, 0.1);
}

.buttoncontainer {
    margin: 16px 16px;
}

.buttoncenter {
    display: block !important;
    margin: auto auto;
}


/* Wrapper class contains all content and keeps scaling correct at smaller sizes. */

#wrapper {
    min-width: 640px;
}


/* Styling for the navigation bar used on the main page. Main container. */

#navcontainer {
    text-align: center;
    margin-top: 1px;
    background: #0c0c0c;
    border-top: 1px solid #a9fe30;
    border-bottom: 1px solid #252525;
}


/* Navigation menu with CSS Flex usage. */

#navmenu {
    max-width: 900px;
    margin: auto auto;
    padding: 2px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

#navmenu a {
    line-height: 40px;
    color: white;
    background: #151515;
    border-radius: 4px;
    font-family: "Aldrich", sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 2px 2px;
    justify-content: center;
    border-top: 1px solid #24271d;
    -webkit-flex: 0 1 0%;
    flex: 0 1 20%;
    transition-property: color, background, text-shadow;
}

#navmenu a:hover {
    color: #a9fe30;
    background: #202616;
    background: -moz-linear-gradient(top, #202616 1%, #151515 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #202616), color-stop(100%, #151515));
    background: -webkit-linear-gradient(top, #202616 1%, #151515 100%);
    background: -o-linear-gradient(top, #202616 1%, #151515 100%);
    background: -ms-linear-gradient(top, #202616 1%, #151515 100%);
    background: linear-gradient(to bottom, #202616 1%, #151515 100%);
    border-top: 1px solid #506739;
    text-shadow: 0px 0px 48px rgba(190, 255, 150, 1);
}


/* The larger buttons as used by the Teamspeak & Discord labels. */

#navmenu .navlarge {
    padding: 2px 2px;
    min-width: 360px;
    max-width: 360px;
    -webkit-order: 0;
    order: 0;
}


/* Smaller buttons which do not require extra ordering. */

#navmenu .navsmall {
    min-width: 180px;
    max-width: 180px;
    -webkit-order: 1;
    order: 1;
}


/* Content organisation helpers. */


/* Divider between content sections. */

.divider {
    width: 100%;
    min-height: 8px;
    height: 8px;
    background: #090909;
    color: white;
}


/* Divider within content sections. */

.horizontal-line {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 1px;
    background: #353535;
}


/* Vertical divider within content sections. */

.vertical-line {
    margin: 0 auto;
    left: 0;
    right: 0;
    display: inline-block;
    width: 1px;
    background: #353535;
}


/* Main content containers. */

.contentdiv {
    color: white;
}

.contentheader {
    border-top: 1px solid #486d13;
    border-bottom: 1px solid #252525;
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #121212;
    font-style: italic;
    font-size: 32px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    text-transform: uppercase;
}

.contentspacer {
    border-top: 1px solid #486d13;
    border-bottom: 1px solid #252525;
    position: relative;
    width: 100%;
    height: 35px;
    line-height: 70px;
    background: #121212;
    font-style: oblique;
    font-size: 32px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    text-transform: uppercase;
}

.content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background: #0c0c0c;
}

.content p {
    padding: 16px 24px;
    text-align: justify;
}

.content h1, .content h2, .content h3, .content h4, .content h5 {
    padding: 16px 16px 2px 16px;
}


/* Used to display content footer information such as the 'back to top' sections. */

.centerinfo {
    font-size: 19px;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 16px;
    clear: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* TODO: Viewer container. Requires complete rewrite for new system. */

#viewercontainer {}

#viewercontent {}


/* Warning container for JS errors as well as server related information. */

.notice {
    border: 2px dashed #202427;
    font-size: 14px !important;
    text-align: center !important;
    margin: 8px;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
}


/* Read more link. */

.readmore {
    font-size: 18px;
}


/* Main page administrator card container. */

.cardrow {
    margin: 0px 0px;
    list-style-type: none;
    text-align: center;
}

.cardcontainer {
    width: 240px;
    height: 280px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.cardcontainer h3 {
    font-size: 20px;
    margin-bottom: 16px;
}

.cardimage {
    vertical-align: middle;
    border-radius: 16px;
    width: 190px;
    border: rgba(255, 255, 255, 0) solid 4px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 1);
}

.cardimage:hover {
    width: 200px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 255, 85, 0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(150, 255, 85, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(150, 255, 85, 0.5);
}


/* Donation meter/bar */

.meter {
    height: 16px;
    margin: 16px 16px;
    position: relative;
    background: #0a0a0a;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    padding: 4px;
    border: 1px solid #182306;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.meter>span {
    display: block;
    height: 100%;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background-color: #77c345;
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.meter>span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(0, 0, 0, .3) 8px, rgba(0, 0, 0, .3) 16px);
    z-index: 1;
    overflow: hidden;
}


/* User profile image container */

.profileimage {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    opacity: 0;
    max-width: 216px;
    float: right;
    margin-right: 16px;
    margin-top: 16px;
    outline: #555555 solid 1px;
    -webkit-animation: profilein 1s;
    -moz-animation: profilein 1s;
    -ms-animation: profilein 1s;
    -o-animation: profilein 1s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}


/* Formatting for page generated content */

.page h1 {
    font-size: 32px;
}

.page h2 {
    font-size: 26px;
}

.page h3 {
    font-size: 22px;
}

.page h4 {
    font-size: 20px;
}

.page h5 {
    font-size: 18px;
}


/* Extra formatting class for the summary sections. Hides headers. */

.introduction h1, .introduction h2, .introduction h3, .introduction h4, .introduction h5 {
    display: none;
}

.gameheader h4 {
    display: inline-block;
    padding-top: 16px;
}

.gameheader p {
    vertical-align: text-bottom;
    padding: 0px 16px;
    display: inherit;
}

.gameheader .buttoncontainer {
    margin: 8px 8px;
    float: right;
}

.gameheader button {
    float: right;
}

.gameheader img {
    border-radius: 2px;
    vertical-align: top;
    margin-right: 8px;
    width: 24px;
}


/* Disqus threads */

#disqus_thread {
    margin: 16px;
}


/* Twitch */

#twitch {
    display: none;
}

#twitch iframe {
    width: 95%;
    height: 480px;
    margin-left: 20px;
    border: 2px dashed #292f33;
}

@keyframes profilein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

@-moz-keyframes profilein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes profilein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

@-ms-keyframes profilein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

@-o-keyframes profilein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.twitter {
    text-align: center;
}

.timeline-Tweet-text {}


/* Page adaption to smaller viewport sizes. */

@media all and (max-width: 760px) {
    h2 {
        font-size: 38px;
    }
    #navmenu {
        width: auto;
        -webkit-flex-flow: column;
        flex-flow: column;
        flex-direction: column;
        -webkit-justify-content: none;
        -moz-justify-content: none;
        justify-content: none;
    }
    #navmenu a {
        font-size: 20px;
        line-height: 0px;
    }
    #mainbar {
        width: auto;
    }
    #headerinfo {
        margin-left: 0;
        width: 0;
    }
    #navmenu .navsmall, #navmenu .navlarge {
        padding: 40px 40px;
        max-width: 1000px;
        margin-top: 2px;
    }
    input {
        width: 435px;
        height: 35px;
        font-size: 18px;
    }
    label {
        font-size: 20px;
    }
    .cardcontainer {
        width: 200px;
    }
    .cardimage {
        width: 180px;
    }
    .cardimage:hover {
        width: 190px;
    }
    #twitch iframe {
        height: 415px;
    }
}

@media all and (max-width: 640px) {
    h2 {
        font-size: 34px;
    }
    p, h3, h4, h5 {
        margin: 0px 24px;
    }
    #navmenu a {
        font-size: 24px;
        line-height: 0px;
    }
    #navmenu .navsmall, #navmenu .navlarge {
        padding: 40px 40px;
        max-width: 1000px;
        margin-top: 8px;
    }
    input {
        width: 565px;
        height: 60px;
        font-size: 24px;
    }
    label {
        font-size: 26px;
    }
    .centerinfo {
        font-size: 24px;
    }
    .nomobile {
        display: none;
    }
    #twitch iframe {
        width: 97%;
        height: 350px;
    }
}


/* Scrollbar styling. */

::-webkit-scrollbar {
    width: 8px;
    border-left: 1px #393f2f;
    background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
    background: #223612;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: #77ca25;
}

::-webkit-scrollbar-corner {
    background: #000;
}


/* HACK: Forgot what this was for. */

.darkbody {
    background: #0a0a0a;
}


/* HACK: Okay at this point I give up. No idea where this was used. */

.columnlist {
    list-style: none;
}

.listhead li {
    padding-top: 16px;
    padding-bottom: 8px;
    text-decoration: underline;
}

.columnlist li {
    display: block;
    width: 22%;
    margin-right: 3%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.listclear {
    clear: both;
    padding: 8px;
}

ing: 8px;

}
ng: 8px;

}

}
8px;

}

}
